In [9]:
from pandas import *
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib notebook
from scipy.stats import mode

import os
#print(os.listdir("E:/input"))
#print(os.listdir("/home/a580/Documents"))# show the all documents in the road
diabetes = pd.read_csv('/home/a580/Documents/network/diabetes.csv')
#print(diabetes.head(5))# show the data in the figure
#print(diabetes.describe())  # show the vuales of the all data

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [16]:
################################显示diabetes中Outcome列中每种值出现的次数################################## 

################################显示diabetes中Outcome列中每种值出现的次数##################################

In [28]:
'''
flag1=flag0=0
for i in diabetes['Outcome']:#.value_counts()
    if i ==1:
        flag1+=1
    elif i==0:
        flag0 +=1
print('0',flag0)
print('1',flag1)
'''
diabetes['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [30]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [40]:
################################显示diabetes中所有列的标题名################################## 
print(diabetes.columns)# think how to add the resore delete the dtype value then to use
#diabetes.columns

################################显示diabetes中所有列的标题名##################################

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI'],
      dtype='object')

In [13]:
################################显示diabetes中所有列的值里面为0的个数################################## 

################################显示diabetes中所有列的值里面为0的个数##################################

In [41]:
print((diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
    'BMI', 'DiabetesPedigreeFunction', 'Age']] == 0).sum())

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
dtype: int64

In [61]:

################################将diabetes中所有列的值中为0的值替换为NaN################################## 
#a=diabetes.loc[:,['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
   # 'BMI', 'DiabetesPedigreeFunction', 'Age']] 
#b = diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
   # 'BMI', 'DiabetesPedigreeFunction', 'Age']].replace(0, np.NaN)
#a=b
diabetes.loc[:,['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
    'BMI', 'DiabetesPedigreeFunction', 'Age','Outcome']] = diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
    'BMI', 'DiabetesPedigreeFunction', 'Age','Outcome']].replace(0, np.NaN)
################################将diabetes中所有列的值中为0的值替换为NaN################################## 
diabetes.head()

SyntaxError: invalid syntax (<ipython-input-61-5bd63a32c9e5>, line 9)

In [15]:
################################统计diabetes中所有列的值中为null的个数################################## 

################################统计diabetes中所有列的值中为null的个数##################################

In [67]:

#print((diabetes[['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
    #'BMI', 'DiabetesPedigreeFunction', 'Age']] == 0).sum()
diabetes.isnull().sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [72]:
print("Size before dropping NaN rows",diabetes.shape,"\n")

################################将diabetes中包含NaN的行删掉################################## 

################################将diabetes中包含NaN的行删掉################################## 
nan_dropped=diabetes.dropna()# delete the aixs which has include the NaN
print(nan_dropped.isnull().sum())# sum  had how many value was nan
print("\nSize after dropping NaN rows",nan_dropped.shape)#show before delete

Size before dropping NaN rows (768, 9)

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

Size after dropping NaN rows (111, 9)

In [74]:
vector = np.random.chisquare(1,500)
print(vector)
################################打印vector的均值################################## 

################################打印vector的均值################################## 
print("Mean",np.mean(vector)) # jun zhi
print("SD",np.std(vector))# biaozhuncha
print("Range",max(vector)-min(vector))# zuidazhi jian zhuixiaozhi

[1.14571649e-02 3.55056686e-01 7.11824451e-01 9.52445742e-01
 4.62973170e-01 2.80874146e+00 3.04942571e-01 6.14331888e-01
 5.46128253e+00 3.34976637e-01 2.59586267e-01 1.25507193e+00
 4.23222908e-02 2.02348719e-02 3.54128620e-03 1.43715906e+00
 1.15443361e-01 2.31013002e-01 1.21582371e+00 1.69476179e-01
 4.85061814e+00 2.21019008e-03 5.36629919e-01 8.37275094e-02
 5.23113927e-01 1.46946233e+00 4.69682293e-01 7.52909413e-01
 5.00795203e-02 4.41858592e-01 6.60904913e-01 4.33609011e-01
 1.30331973e-01 3.17447627e-04 5.95029622e+00 6.76595586e-01
 6.29298084e-01 4.38724853e-01 5.31363878e-01 3.97197761e-01
 2.49116177e+00 7.70027659e-01 4.97558375e+00 8.73637316e-01
 1.09616050e+00 2.38283731e+00 2.35865890e-02 9.27204284e-01
 1.22816179e-01 5.18292975e+00 4.50770180e-03 1.79408519e-01
 2.17857549e-04 2.81669698e+00 2.50901436e+00 1.38085194e-01
 1.83165872e+00 7.34876400e-01 8.38063354e+00 4.51166589e-02
 2.85290550e-03 3.95910847e-01 1.81975491e+00 7.94909604e-01
 5.12573236e-01 1.02296399e-02 3.76310902e-02 2.43215974e-02
 7.73923174e-01 4.08012159e-03 5.51216449e-02 1.23247778e+00
 1.56862496e+00 1.28560763e+00 2.53057266e+00 3.25846231e-03
 6.13360727e-01 3.70148573e-01 3.98324514e-01 2.60086888e-01
 4.33218842e+00 3.02189535e+00 1.16639232e+00 2.81602216e-01
 2.14867392e-01 1.30982432e-02 2.95778477e-01 7.94590006e-01
 5.05807192e-01 3.85611357e-01 1.39746119e-01 1.16584218e-01
 5.05158093e-01 1.11104646e-01 3.38978674e-01 1.63425456e+00
 3.21926896e-01 2.95003486e+00 2.74105547e-01 1.12740619e+00
 1.26903886e+00 3.71681764e+00 2.53112780e-01 7.29180762e+00
 6.65644021e-01 1.37586022e-01 2.88796922e+00 6.85177578e-03
 2.14566817e-02 9.80178550e-01 1.90742505e+00 2.41689914e-03
 1.64773981e+00 3.37439183e-05 4.04575835e-02 1.25049736e-02
 1.97760590e-03 8.91395481e-01 1.68695255e-01 3.39781092e-01
 8.09639395e-02 1.91443954e-01 2.68602071e-01 2.11228678e-01
 3.50743756e-01 5.65348135e-01 9.79723342e-02 2.99381816e-01
 9.40087769e-02 3.47042064e-01 9.95132707e-01 1.92043398e-01
 4.34759032e-01 3.70291906e-03 3.35848956e-02 2.79709593e+00
 9.15824470e-01 4.00869330e-01 7.89211436e-02 1.30148370e-01
 5.32504424e-02 3.27099182e-01 2.29863299e+00 4.48772930e-02
 5.93409166e-01 3.80324730e-01 1.53049452e-01 1.91449908e-01
 3.85808693e+00 1.16056520e-01 1.43493086e-01 4.67163760e-01
 9.22903948e-01 3.58403442e-03 1.86122897e-03 5.03100302e-01
 7.28673715e-01 1.66175579e+00 2.19528672e+00 2.27110992e+00
 1.93187770e+00 1.14010043e+00 7.46997927e-02 3.07242485e+00
 1.27325053e-01 1.20285749e-01 9.02476503e-02 1.03836878e+01
 9.71887670e-03 6.67701549e-01 1.53616068e-01 8.87813539e-01
 1.36252565e+00 6.56718760e-01 2.39612309e-01 1.53737913e-01
 2.47725285e-01 4.94324730e-01 1.63772637e+00 6.65480331e-01
 2.51496594e-02 1.05222878e+00 7.24927072e-02 5.52778292e-01
 2.22779634e-02 7.18512562e-01 1.31215574e+00 2.55764883e-01
 1.69236120e-01 1.11159371e+00 2.65450455e+00 3.62414016e-01
 1.89382289e-01 8.05176886e-01 4.12764264e-01 4.88823753e-01
 8.50391292e-02 2.98525633e-01 6.16392836e+00 6.94972014e-01
 1.38645825e-02 1.59378437e+00 6.35026255e-01 4.62445593e-04
 1.03184389e-01 4.20422140e+00 2.82353386e-01 8.93705216e-03
 1.02457870e+00 9.69825503e-01 9.58539900e-01 1.07730740e+00
 4.09019432e-01 2.29419415e+00 7.85395351e-01 4.16184940e+00
 3.93471552e-06 3.19282404e-01 3.95104060e-01 2.12074151e+00
 6.15757453e-01 1.59939195e-01 6.05453956e-02 8.64481293e-02
 2.12827617e+00 4.55464545e-02 2.26720829e+00 5.22856676e-01
 5.30951225e-02 1.40000177e-02 2.60343593e-01 5.90134882e-01
 8.96126178e-02 2.99276573e-01 5.21581126e-01 1.30003924e+00
 1.62065409e-02 4.64255789e-01 1.06726573e-03 5.48362827e-02
 1.51652900e-02 3.59972180e+00 1.60115426e-01 5.19480502e-01
 2.79084035e-02 2.71418686e-01 1.38798164e-01 1.00011013e-01
 1.18279910e-01 3.74820741e-01 3.50164882e-03 7.63164429e-01
 8.72028596e-01 4.27837615e-02 2.84459597e+00 1.69653002e-01
 1.55809459e+00 1.67082740e-03 2.81241930e+00 2.12800428e+00
 2.10233209e-01 9.15294397e-02 2.81678973e+00 3.58384401e-01
 4.94634331e+00 6.37950877e-03 2.66756473e+00 4.58176271e-01
 1.63264765e-01 2.91474528e-02 8.22240455e-02 2.74252607e+00
 6.54398784e-01 2.19437862e+00 7.60730310e-01 1.37548032e-02
 3.85075089e-01 1.24775570e+00 4.00466194e-02 1.12735345e+00
 1.24508542e-02 3.01536376e-02 6.51870618e-01 1.21258693e+00
 1.40453535e+00 3.92367807e+00 1.47399482e+00 1.06112957e+00
 5.53132476e-01 3.88090201e-01 6.12958916e+00 5.53828508e-01
 4.59045246e-01 1.28108411e-05 2.48395982e-01 7.81794540e-01
 7.93537190e-01 3.62849332e-01 1.22315192e-01 3.34378766e-01
 1.27945010e+00 2.14891236e-05 2.59638166e+00 9.41723965e-03
 9.65833435e-01 8.74272170e-01 4.38456240e-02 8.45715039e-02
 5.18040228e-02 3.11515384e-01 8.13264379e-01 2.18047911e-01
 1.33151509e+00 1.42610748e+00 8.28910060e-01 5.11379700e-01
 1.41666099e-01 3.33015942e-01 6.47549625e-01 1.00078034e-01
 1.45141930e-01 3.86286149e-03 4.74870615e-01 1.35400168e+00
 7.57140212e-01 7.37180476e-02 4.53321985e-03 7.82906478e-01
 1.42114334e+00 5.75126707e+00 9.62646316e-01 2.22306886e+00
 4.14682371e-03 4.44296588e+00 2.34807828e+00 1.98663718e-01
 8.75755136e-01 2.49245864e+00 2.36204941e+00 1.46985960e+00
 2.54651887e+00 8.98271432e-02 2.88405574e-01 1.66114424e+00
 7.40615012e-01 4.14165736e-01 1.07838151e-01 2.63223735e+00
 1.93537244e+00 3.62520683e-01 3.08660666e+00 7.63896732e-02
 4.72844214e-02 6.53211520e+00 3.05983111e-01 9.23507895e-02
 1.69624935e+00 1.74176195e+00 5.38037784e+00 4.96226378e-03
 7.70146612e-01 1.84164922e-02 1.76083949e-02 8.55538204e-01
 4.42468494e-02 1.61298285e+00 5.27260470e-03 2.93345452e-03
 1.35055521e-02 2.95018748e-02 2.78237718e-01 1.96022003e+00
 2.02208382e+00 1.23140356e+00 4.18615757e+00 1.62238605e-01
 1.00602925e-01 1.15695225e+00 2.28475133e-01 2.17226749e+00
 2.11331658e+00 5.07437895e-01 9.62907610e-04 1.38443812e-01
 9.37530937e-02 2.23337460e-03 6.12592208e-02 5.01034799e+00
 2.30427508e-01 1.78650243e+00 2.41654662e-03 4.33614876e-01
 2.02265960e+00 5.87087477e+00 1.73956002e+00 9.93933798e-01
 1.60483836e+00 4.38022016e-01 1.03721624e-02 2.56715892e-01
 1.62482716e-01 1.52583005e+00 2.67853397e+00 3.23150700e-02
 9.64214682e-02 2.41921644e-02 1.18763157e-01 5.31523751e-01
 5.30728993e+00 2.54029640e+00 5.52357294e-01 1.06558574e+00
 7.43374772e-01 3.28256002e+00 1.05446525e+00 5.88693593e-01
 1.40224669e+00 2.93348698e+00 1.38219179e-01 9.37373999e-03
 7.07303018e-02 1.91068132e-07 3.28101587e+00 4.32130011e-01
 5.38425489e-03 4.35125488e+00 4.17787791e-01 2.27733021e+00
 3.28666180e+00 3.09100775e+00 5.29948109e-01 1.37033973e-01
 4.45045627e-01 6.29987790e-01 1.67327470e-01 9.26065256e-01
 5.93304750e-01 2.25870344e+00 5.64112190e-01 7.09493510e-01
 4.00844207e+00 7.20179432e-01 1.03442058e+00 1.09385096e+00
 7.59056022e-01 7.32999918e-01 1.80841761e-01 9.77854375e-02
 1.34786370e-02 5.92295593e+00 4.41034683e+00 3.29265976e-01
 4.63749953e-02 1.29192950e+00 7.30215651e-01 4.52774334e-01
 2.87866067e-02 1.00414871e+00 6.58453658e-01 1.60944002e-01
 1.33175883e-01 1.36744285e+00 6.27463521e-02 5.84229420e-03
 7.66961000e-01 8.95612635e-01 3.97192816e-01 4.46350808e-01
 5.01774876e-01 1.08557077e+01 7.94195746e-01 1.93355395e-02
 4.02742877e-02 2.40760098e-02 1.69991092e+00 6.86416320e-02
 1.07548644e-02 8.51491420e-01 1.33109539e-03 7.22229975e-01
 5.54113554e-01 2.18506075e+00 6.09692470e-04 1.13201105e+00
 3.22502048e-01 9.13802908e-01 1.28540837e-01 8.96639157e-01
 5.77730089e+00 2.26856867e+00 4.06966566e-02 1.31622786e-01
 1.34099421e+00 5.78385511e-02 8.94135160e-01 4.48488242e+00
 3.50546847e+00 1.99633557e-01 2.12296311e-03 2.43601767e-01]
Mean 1.0173486628378543
SD 1.4761808437148753
Range 10.855707472815299

In [83]:
################################将一维向量vector转成大小为500*1的二维向量并赋值给row_vector################################## 

################################将一维向量vector转成大小为500*1的二维向量并赋值给row_vector################################## 
print(vector.shape)
row_vector=vector.reshape(1,500)
print(row_vector.shape)
print(row_vector)

(500,)
(1, 500)

In [84]:
################################将一维向量vector转成大小为10*50的二维向量并赋值给maxtrix################################## 

################################将一维向量vector转成大小为10*50的二维向量并赋值给maxtrix################################## 
matrix=vector.reshape(10,50)
print(matrix.shape)
print(matrix)

(10, 50)
[[1.14571649e-02 3.55056686e-01 7.11824451e-01 9.52445742e-01
  4.62973170e-01 2.80874146e+00 3.04942571e-01 6.14331888e-01
  5.46128253e+00 3.34976637e-01 2.59586267e-01 1.25507193e+00
  4.23222908e-02 2.02348719e-02 3.54128620e-03 1.43715906e+00
  1.15443361e-01 2.31013002e-01 1.21582371e+00 1.69476179e-01
  4.85061814e+00 2.21019008e-03 5.36629919e-01 8.37275094e-02
  5.23113927e-01 1.46946233e+00 4.69682293e-01 7.52909413e-01
  5.00795203e-02 4.41858592e-01 6.60904913e-01 4.33609011e-01
  1.30331973e-01 3.17447627e-04 5.95029622e+00 6.76595586e-01
  6.29298084e-01 4.38724853e-01 5.31363878e-01 3.97197761e-01
  2.49116177e+00 7.70027659e-01 4.97558375e+00 8.73637316e-01
  1.09616050e+00 2.38283731e+00 2.35865890e-02 9.27204284e-01
  1.22816179e-01 5.18292975e+00]
 [4.50770180e-03 1.79408519e-01 2.17857549e-04 2.81669698e+00
  2.50901436e+00 1.38085194e-01 1.83165872e+00 7.34876400e-01
  8.38063354e+00 4.51166589e-02 2.85290550e-03 3.95910847e-01
  1.81975491e+00 7.94909604e-01 5.12573236e-01 1.02296399e-02
  3.76310902e-02 2.43215974e-02 7.73923174e-01 4.08012159e-03
  5.51216449e-02 1.23247778e+00 1.56862496e+00 1.28560763e+00
  2.53057266e+00 3.25846231e-03 6.13360727e-01 3.70148573e-01
  3.98324514e-01 2.60086888e-01 4.33218842e+00 3.02189535e+00
  1.16639232e+00 2.81602216e-01 2.14867392e-01 1.30982432e-02
  2.95778477e-01 7.94590006e-01 5.05807192e-01 3.85611357e-01
  1.39746119e-01 1.16584218e-01 5.05158093e-01 1.11104646e-01
  3.38978674e-01 1.63425456e+00 3.21926896e-01 2.95003486e+00
  2.74105547e-01 1.12740619e+00]
 [1.26903886e+00 3.71681764e+00 2.53112780e-01 7.29180762e+00
  6.65644021e-01 1.37586022e-01 2.88796922e+00 6.85177578e-03
  2.14566817e-02 9.80178550e-01 1.90742505e+00 2.41689914e-03
  1.64773981e+00 3.37439183e-05 4.04575835e-02 1.25049736e-02
  1.97760590e-03 8.91395481e-01 1.68695255e-01 3.39781092e-01
  8.09639395e-02 1.91443954e-01 2.68602071e-01 2.11228678e-01
  3.50743756e-01 5.65348135e-01 9.79723342e-02 2.99381816e-01
  9.40087769e-02 3.47042064e-01 9.95132707e-01 1.92043398e-01
  4.34759032e-01 3.70291906e-03 3.35848956e-02 2.79709593e+00
  9.15824470e-01 4.00869330e-01 7.89211436e-02 1.30148370e-01
  5.32504424e-02 3.27099182e-01 2.29863299e+00 4.48772930e-02
  5.93409166e-01 3.80324730e-01 1.53049452e-01 1.91449908e-01
  3.85808693e+00 1.16056520e-01]
 [1.43493086e-01 4.67163760e-01 9.22903948e-01 3.58403442e-03
  1.86122897e-03 5.03100302e-01 7.28673715e-01 1.66175579e+00
  2.19528672e+00 2.27110992e+00 1.93187770e+00 1.14010043e+00
  7.46997927e-02 3.07242485e+00 1.27325053e-01 1.20285749e-01
  9.02476503e-02 1.03836878e+01 9.71887670e-03 6.67701549e-01
  1.53616068e-01 8.87813539e-01 1.36252565e+00 6.56718760e-01
  2.39612309e-01 1.53737913e-01 2.47725285e-01 4.94324730e-01
  1.63772637e+00 6.65480331e-01 2.51496594e-02 1.05222878e+00
  7.24927072e-02 5.52778292e-01 2.22779634e-02 7.18512562e-01
  1.31215574e+00 2.55764883e-01 1.69236120e-01 1.11159371e+00
  2.65450455e+00 3.62414016e-01 1.89382289e-01 8.05176886e-01
  4.12764264e-01 4.88823753e-01 8.50391292e-02 2.98525633e-01
  6.16392836e+00 6.94972014e-01]
 [1.38645825e-02 1.59378437e+00 6.35026255e-01 4.62445593e-04
  1.03184389e-01 4.20422140e+00 2.82353386e-01 8.93705216e-03
  1.02457870e+00 9.69825503e-01 9.58539900e-01 1.07730740e+00
  4.09019432e-01 2.29419415e+00 7.85395351e-01 4.16184940e+00
  3.93471552e-06 3.19282404e-01 3.95104060e-01 2.12074151e+00
  6.15757453e-01 1.59939195e-01 6.05453956e-02 8.64481293e-02
  2.12827617e+00 4.55464545e-02 2.26720829e+00 5.22856676e-01
  5.30951225e-02 1.40000177e-02 2.60343593e-01 5.90134882e-01
  8.96126178e-02 2.99276573e-01 5.21581126e-01 1.30003924e+00
  1.62065409e-02 4.64255789e-01 1.06726573e-03 5.48362827e-02
  1.51652900e-02 3.59972180e+00 1.60115426e-01 5.19480502e-01
  2.79084035e-02 2.71418686e-01 1.38798164e-01 1.00011013e-01
  1.18279910e-01 3.74820741e-01]
 [3.50164882e-03 7.63164429e-01 8.72028596e-01 4.27837615e-02
  2.84459597e+00 1.69653002e-01 1.55809459e+00 1.67082740e-03
  2.81241930e+00 2.12800428e+00 2.10233209e-01 9.15294397e-02
  2.81678973e+00 3.58384401e-01 4.94634331e+00 6.37950877e-03
  2.66756473e+00 4.58176271e-01 1.63264765e-01 2.91474528e-02
  8.22240455e-02 2.74252607e+00 6.54398784e-01 2.19437862e+00
  7.60730310e-01 1.37548032e-02 3.85075089e-01 1.24775570e+00
  4.00466194e-02 1.12735345e+00 1.24508542e-02 3.01536376e-02
  6.51870618e-01 1.21258693e+00 1.40453535e+00 3.92367807e+00
  1.47399482e+00 1.06112957e+00 5.53132476e-01 3.88090201e-01
  6.12958916e+00 5.53828508e-01 4.59045246e-01 1.28108411e-05
  2.48395982e-01 7.81794540e-01 7.93537190e-01 3.62849332e-01
  1.22315192e-01 3.34378766e-01]
 [1.27945010e+00 2.14891236e-05 2.59638166e+00 9.41723965e-03
  9.65833435e-01 8.74272170e-01 4.38456240e-02 8.45715039e-02
  5.18040228e-02 3.11515384e-01 8.13264379e-01 2.18047911e-01
  1.33151509e+00 1.42610748e+00 8.28910060e-01 5.11379700e-01
  1.41666099e-01 3.33015942e-01 6.47549625e-01 1.00078034e-01
  1.45141930e-01 3.86286149e-03 4.74870615e-01 1.35400168e+00
  7.57140212e-01 7.37180476e-02 4.53321985e-03 7.82906478e-01
  1.42114334e+00 5.75126707e+00 9.62646316e-01 2.22306886e+00
  4.14682371e-03 4.44296588e+00 2.34807828e+00 1.98663718e-01
  8.75755136e-01 2.49245864e+00 2.36204941e+00 1.46985960e+00
  2.54651887e+00 8.98271432e-02 2.88405574e-01 1.66114424e+00
  7.40615012e-01 4.14165736e-01 1.07838151e-01 2.63223735e+00
  1.93537244e+00 3.62520683e-01]
 [3.08660666e+00 7.63896732e-02 4.72844214e-02 6.53211520e+00
  3.05983111e-01 9.23507895e-02 1.69624935e+00 1.74176195e+00
  5.38037784e+00 4.96226378e-03 7.70146612e-01 1.84164922e-02
  1.76083949e-02 8.55538204e-01 4.42468494e-02 1.61298285e+00
  5.27260470e-03 2.93345452e-03 1.35055521e-02 2.95018748e-02
  2.78237718e-01 1.96022003e+00 2.02208382e+00 1.23140356e+00
  4.18615757e+00 1.62238605e-01 1.00602925e-01 1.15695225e+00
  2.28475133e-01 2.17226749e+00 2.11331658e+00 5.07437895e-01
  9.62907610e-04 1.38443812e-01 9.37530937e-02 2.23337460e-03
  6.12592208e-02 5.01034799e+00 2.30427508e-01 1.78650243e+00
  2.41654662e-03 4.33614876e-01 2.02265960e+00 5.87087477e+00
  1.73956002e+00 9.93933798e-01 1.60483836e+00 4.38022016e-01
  1.03721624e-02 2.56715892e-01]
 [1.62482716e-01 1.52583005e+00 2.67853397e+00 3.23150700e-02
  9.64214682e-02 2.41921644e-02 1.18763157e-01 5.31523751e-01
  5.30728993e+00 2.54029640e+00 5.52357294e-01 1.06558574e+00
  7.43374772e-01 3.28256002e+00 1.05446525e+00 5.88693593e-01
  1.40224669e+00 2.93348698e+00 1.38219179e-01 9.37373999e-03
  7.07303018e-02 1.91068132e-07 3.28101587e+00 4.32130011e-01
  5.38425489e-03 4.35125488e+00 4.17787791e-01 2.27733021e+00
  3.28666180e+00 3.09100775e+00 5.29948109e-01 1.37033973e-01
  4.45045627e-01 6.29987790e-01 1.67327470e-01 9.26065256e-01
  5.93304750e-01 2.25870344e+00 5.64112190e-01 7.09493510e-01
  4.00844207e+00 7.20179432e-01 1.03442058e+00 1.09385096e+00
  7.59056022e-01 7.32999918e-01 1.80841761e-01 9.77854375e-02
  1.34786370e-02 5.92295593e+00]
 [4.41034683e+00 3.29265976e-01 4.63749953e-02 1.29192950e+00
  7.30215651e-01 4.52774334e-01 2.87866067e-02 1.00414871e+00
  6.58453658e-01 1.60944002e-01 1.33175883e-01 1.36744285e+00
  6.27463521e-02 5.84229420e-03 7.66961000e-01 8.95612635e-01
  3.97192816e-01 4.46350808e-01 5.01774876e-01 1.08557077e+01
  7.94195746e-01 1.93355395e-02 4.02742877e-02 2.40760098e-02
  1.69991092e+00 6.86416320e-02 1.07548644e-02 8.51491420e-01
  1.33109539e-03 7.22229975e-01 5.54113554e-01 2.18506075e+00
  6.09692470e-04 1.13201105e+00 3.22502048e-01 9.13802908e-01
  1.28540837e-01 8.96639157e-01 5.77730089e+00 2.26856867e+00
  4.06966566e-02 1.31622786e-01 1.34099421e+00 5.78385511e-02
  8.94135160e-01 4.48488242e+00 3.50546847e+00 1.99633557e-01
  2.12296311e-03 2.43601767e-01]]

In [95]:
#Determine pivot table
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                       "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                          "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df.head(10)

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [101]:
###################################想办法生成以下表格，行为A、B，列为C###################################


###################################想办法生成以下表格，行为A、B，列为C###################################
table=DataFrame(df)


###################################想办法生成以下表格，行为A、B，列为C###################################
table = pivot_table(df, values='D', index=['A', 'B'],
                  columns=['C'],aggfunc=np.sum)
# only show the value of D ,and the axis means the value in A,B like the bar or foo
# the one or two and the columns was the top line divide to the large and small
###################################想办法生成以下表格，行为A、B，列为C###################################
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [104]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                       index=[0, 1, 2, 3])
    

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                       index=[4, 5, 6, 7])
    

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                       'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                       index=[8, 9, 10, 11])
    
###################################将df1,df2,df3按行拼接到一起，并赋给result###################################
frames = [df1, df2, df3]
#print(frames)

result = pd.concat(frames)

###################################将df1,df2,df3按行拼接到一起，并赋给result####################################

print(result)

[    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3,     A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7,       A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11]